.left-justified-headers th {
    text-align: left;
}

.list-group-item {
    border: none;
    line-height: 1;

}

.navbar {
    border-bottom: 2px solid rgba(13, 109, 251, 0.6);
    margin-bottom: 2em;
    min-height: 60px;
    padding: 0;
}