/* Example in static/css/styles.css */

.radio-button-group {
    border: 1px solid #ddd; /* Light grey border */
    padding: 15px;
    border-radius: 5px; /* Optional: for rounded corners */
    margin-bottom: 15px; /* Optional: for spacing */
}

.header-width-adjusted-table th {
    white-space: nowrap;
}

.header-width-adjusted-table td {
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.left-justified-headers th {
    text-align: left;
}