<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}NLP-Application{% endblock %}</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light shadow  mb-5 bg-white custom-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link navbar-brand me-lg-2 mx-auto mb-0" href="/">
                    <img src="{{ url_for('static', filename='img/home.png') }}" alt="" width="24" height="24">
                </a>
            </li>
            <li class="nav-item me-lg-3">
                <a class="nav-link" href="{{ url_for('file_manager.file_manager') }}">File Manager</a>
            </li>
            <li class="nav-item me-lg-4">
                <a class="nav-link" href="{{ url_for('data_processor.data_processing') }}">Data Processing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('model_builder.model_builder') }}">Model Builder</a>
            </li>
        </ul>
    </div>
</nav>



{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
{% endwith %}
<div class="container">
    {% block content %}
    {% endblock %}
</div>

<!-- Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

{#User defined javascript snippets#}
<script src="{{ url_for('static', filename='js/model_loader.js') }}"></script>
<script src="{{ url_for('static', filename='js/column_selector.js') }}"></script>
</body>
</html>




