{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2 class="mb-lg-5">Data pre-processing</h2>
        <div class="row">
            <!-- Load a spaCy Model -->
            <div class="col-md-6">
                <h3>Pre-process Data</h3>

                <form method="POST" id="spacy-model-form">

                    {{ preprocessing_form.hidden_tag() }}
                    <div class="form-group">
                        <div class="mt-4 mb-1">
                            {{ preprocessing_form.file.label(class="form-label") }}
                            {{ preprocessing_form.file(id='file-select', class="form-select") }}
                        </div>
                        <div>
                            {{ preprocessing_form.column_to_preprocess.label(class="form-label") }}

                            <label class="mt-4" for="column-select"></label>
                            <select id="column-select" name="column_to_preprocess" class="form-select">
                            </select>


                            <div class="form-group">
                                {#                                {{ spacy_model_form.model.label }}#}
                                <p class="mt-4 mb-1">Choose which of the core English spaCy models you want to use for
                                    pre-processing. </p>
                                {{ spacy_model_form.model(class='form-select') }}
                            </div>


                        </div>
                        <div class="row mt-lg-2">
                            <p class="mt-4 mb-1">Select which preprocessing functions you would like to perform</p>
                            <div class="col-md-6">
                                <!-- Display checkboxes for preprocessing options -->
                                <div>{{ preprocessing_form.lemmatize(class="form-check-input") }} Lemmatize</div>
                                <div>{{ preprocessing_form.lowercase(class="form-check-input") }} Make Lowercase</div>
                                <div>{{ preprocessing_form.remove_stopwords(class="form-check-input") }} Remove English
                                    Stop
                                    Words
                                </div>
                                <div>{{ preprocessing_form.remove_punctuation(class="form-check-input") }} Remove
                                    Punctuation
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div>{{ preprocessing_form.remove_spaces(class="form-check-input") }} Remove Spaces
                                </div>
                                <!-- Field for renaming the data column -->
                                <div> {{ preprocessing_form.remove_newlines(class="form-check-input") }} Remove
                                    Newlines
                                </div>
                                <div> {{ preprocessing_form.remove_special_chars(class="form-check-input") }} Remove
                                    Special Characters
                                </div>
                            </div>

                        </div>
                        <!-- Options for storing the preprocessed data -->
                        {#                        <div>{{ preprocessing_form.store_as.label(class="form-label") }}#}
                        <p class="mt-lg-3">Choose the format in the dataframe to store the preprocessed output. Some
                            models can work with a string in each row, some require that each row has a lost of
                            tokens.</p>
                        {{ preprocessing_form.store_as(class = "form-select") }}
                    </div>
                    <div>
                        {{ preprocessing_form.output_filename.label }}
                        {{ preprocessing_form.output_filename(class="form-control") }}
                        {% for error in preprocessing_form.output_filename.errors %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endfor %}
                        <div class="mt-lg-2 mb-lg-2">{{ preprocessing_form.submit(class="btn btn-outline-primary btn-sm)") }}</div>
                    </div>

                </form>


            </div>


            <!-- Preprocess Data -->
            <div class="col-md-6">
                <h3>Pre-processing and model settings summary</h3>
                <p>This displays when you pre-process the file</p>
                {% if summary %}

                    <table class="table">
                        <tr>
                            <th>Feature</th>
                            <th>Value</th>
                        </tr>
                        {% for key, value in summary.items() %}
                            <tr>
                                <td>{{ key }}</td>
                                <td>{{ value }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% endif %}
            </div>


        </div>
    </div>

    <script type="text/javascript">
        document.getElementById('model-select').addEventListener('change', function () {
            document.getElementById('spacy-model-form').submit();
        });
    </script>

    <div class="container">
        <h3 class="mt-lg-5">Processed Data Preview</h3>
        <p>This will show the first 5 rows of the pre-processed data. Pre-processed data are in a column called processed_text</p>
        {% if processed_data_head %}

            <div>
                {{ processed_data_head|safe }}  <!-- 'safe' filter to render HTML -->
            </div>
        {% endif %}
    </div>


    <script type="text/javascript">
        document.getElementById('file-select').addEventListener('change', function () {
            const fileName = this.value;
            fetch(`/get-columns?file=${encodeURIComponent(fileName)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.columns) {
                        updateColumnDropdown(data.columns);
                    }
                });
        });

        function updateColumnDropdown(columns) {
            const columnSelect = document.getElementById('column-select');
            columnSelect.innerHTML = ''; // Clear existing options
            columns.forEach(column => {
                const option = document.createElement('option');
                option.value = column;
                option.textContent = column;
                columnSelect.appendChild(option);
            });
        }


    </script>




{% endblock %}
