<!-- templates/data_management.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container mt-lg-5">
    <div class="row">
        <h3>Upload File</h3>
        <p>You can upload a spreadsheet file from here. It will allow you to search for a file on your computer which
            will be saved to the <code>data/data_raw/</code> folder</p>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row mb-3">
                <div class="col-md-6">
                    <!-- File chooser -->
                    {{ form.file(class="form-control") }}
                    {% for error in form.file.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-md-2">
                    <!-- Upload button -->
                    {{ form.submit(class="btn btn-outline-primary btn-sm") }}
                </div>
            </div>
        </form>
    </div>

    <!-- File lists -->
    <div class="row">
        <!-- data_raw files -->
        <div class="col-md-6">
            <h3>Raw Data Files</h3>
            <p>These are the files that have been uploaded to the <code>data/data_raw/</code> folder. Select one to
                view the columns and data.</p>
            <form method="POST" action="{{ url_for('select_file') }}">
                {{ raw_file_form.hidden_tag() }}
                {% for file in raw_file_form.selected_file %}
                    <div class="form-check">
                        {{ file }}
                        {{ file.label }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-primary btn-sm">Select File</button>
            </form>


            {% if worksheets %}
                <div class="mt-4">
                    <h3>Select a Worksheet</h3>
                    <p>These are the worksheets in the selected file. Select one to view the columns and data.</p>
                    <form action="{{ url_for('select_worksheet') }}" method="post">
                        <label>
                            <select class="form-select" name="selected_sheet">
                                {% for sheet in worksheets %}
                                    <option value="{{ sheet }}">{{ sheet }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <input type="hidden" name="selected_file" value="{{ selected_file }}">
                        <button type="submit" class="btn btn-primary mt-2">View Columns</button>
                    </form>
                </div>

            {% endif %}


        </div>

        <div class="col-md-6">
            <h3>CSV files for processing</h3>
            <form method="POST" action="{{ url_for('view_saved_file') }}">
                {{ saved_file_form.hidden_tag() }}
                {% for file in saved_file_form.selected_saved_file %}
                    <div class="form-check">
                        {{ file }}
                        {{ file.label }}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-primary btn-sm">View File</button>
            </form>
        </div>

    </div>
{% endblock %}
