{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Data Modeling</h2>
        <div class="row">
            <!-- Load a spaCy Model -->
            <div class="col-md-6">
                <h3>Load a spaCy Model</h3>
                <p> You need to have downloaded spaCy models first</p>
                <form method="post">
                    {{ spacy_model_form.csrf_token }}
                    {% for model in spacy_model_form.model %}
                        <div class="form-check">
                            {{ model }}
                            {{ model.label }}
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-outline-primary btn-sm">Load Model</button>
                </form>
            </div>


            <!-- Preprocess Data -->
            <div class="col-md-6">
                <h3>Preprocess Data</h3>

                <form method="POST">

                    {{ preprocessing_form.hidden_tag() }}
                    <div class="form-group">
                        <div>
                            {{ preprocessing_form.file.label }} {{ preprocessing_form.file(id='file-select') }}
                        </div>
                        <div>
                            {{ preprocessing_form.column_to_preprocess.label }}
                            <select id="column-select" name="column_to_preprocess">
                                <!-- This will be populated by JavaScript -->
                            </select>
                        </div>

                        <!-- Display checkboxes for preprocessing options -->
                        <div>{{ preprocessing_form.lemmatize }} Lemmatize</div>
                        <div>{{ preprocessing_form.remove_stopwords }} Remove English Stop Words</div>
                        <div>{{ preprocessing_form.remove_punctuation }} Remove Punctuation</div>
                        <div>{{ preprocessing_form.remove_spaces }} Remove Spaces</div>
                        <!-- Field for renaming the data column -->

                        <!-- Options for storing the preprocessed data -->
                        <div>{{ preprocessing_form.store_as.label }} {{ preprocessing_form.store_as }}</div>
                        <div>{{ preprocessing_form.submit }}</div>
                    </div>
                </form>

            </div>
        </div>

        <div class="row">
            <!-- Run a Model -->
            <div class="col-md-6">
                <h3>Run a Model</h3>
                <!-- Placeholder for running a model form -->
            </div>

            <!-- View Model Outputs -->
            <div class="col-md-6">
                <h3>View Model Outputs</h3>
                <!-- Placeholder for model outputs -->
                {% if processed_data_head %}
                    <h3>Processed Data Preview</h3>
                    <div>
                        {{ processed_data_head|safe }}  <!-- 'safe' filter to render HTML -->
                    </div>
                {% endif %}
            </div>
        </div>
    </div>


    <script type="text/javascript">
        document.getElementById('file-select').addEventListener('change', function () {
            const fileName = this.value;
            fetch(`/get-columns?file=${encodeURIComponent(fileName)}`)
                .then(response => response.json())
                .then(data => {
                    if (data.columns) {
                        updateColumnDropdown(data.columns);
                    }
                });
        });

        function updateColumnDropdown(columns) {
            const columnSelect = document.getElementById('column-select');
            columnSelect.innerHTML = ''; // Clear existing options
            columns.forEach(column => {
                const option = document.createElement('option');
                option.value = column;
                option.textContent = column;
                columnSelect.appendChild(option);
            });
        }


    </script>




{% endblock %}
