<!-- templates/data_management.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">
    <div class="row">
        <h3>Upload File</h3>
        <p>You can upload a spreadsheet file from here. It will allow you to search for a file on your computer which
            will be saved to the <code>data/data_raw/</code> folder</p>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row mb-3">
                <div class="col-md-10">
                    <!-- File chooser -->
                    {{ form.file(class="form-control") }}
                    {% for error in form.file.errors %}
                        <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                </div>
                <div class="col-md-2">
                    <!-- Upload button -->
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </form>
    </div>

    <!-- File lists -->
    <div class="row">
        <!-- data_raw files -->
        <div class="col-md-6">
            <h3>Raw Data Files</h3>
            <p>These are the files that have been uploaded to the <code>data/data_raw/</code> folder. Select one to
                view the columns and data.</p>
            <form id="file-select-form" action="{{ url_for('select_file') }}" method="post">
                {% for file in raw_files %}
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="selected_file" id="{{ file }}"
                               value="{{ file }}" onchange="document.getElementById('file-select-form').submit();">
                        <label class="form-check-label" for="{{ file }}">{{ file }}</label>
                    </div>
                {% endfor %}
            </form>


            {% if worksheets %}
                <div class="mt-4">
                    <h3>Select a Worksheet</h3>
                    <p>These are the worksheets in the selected file. Select one to view the columns and data.</p>
                    <form action="{{ url_for('select_worksheet') }}" method="post">
                        <label>
                            <select class="form-select" name="selected_sheet">
                                {% for sheet in worksheets %}
                                    <option value="{{ sheet }}">{{ sheet }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <input type="hidden" name="selected_file" value="{{ selected_file }}">
                        <button type="submit" class="btn btn-primary mt-2">View Columns</button>
                    </form>
                </div>

            {% endif %}


        </div>

        <div class="col-md-6">
            <h3>CSV files for processing</h3>
            {% for file in saved_files %}
                <form action="{{ url_for('view_saved_file') }}" method="post">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="selected_saved_file" id="saved_{{ file }}"
                               value="{{ file }}" onchange="this.form.submit();">
                        <label class="form-check-label" for="saved_{{ file }}">{{ file }}</label>
                    </div>
                </form>
            {% endfor %}
        </div>

    </div>
{% endblock %}
