{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>Data Management</h1>

        <!-- Form for file upload -->
        <form action="{{ url_for('upload_file') }}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="datafile" class="form-label">Upload File</label>
                <input type="file" class="form-control" id="datafile" name="datafile">
                <button type="submit" class="btn btn-primary mt-2">Upload File</button>
            </div>
        </form>

        <!-- Form for selecting and processing a file -->
        <form action="{{ url_for('data_management') }}" method="post">
            {% for file in files %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="selected_file" id="file{{ loop.index }}" value="{{ file }}">
                    <label class="form-check-label" for="file{{ loop.index }}">
                        {{ file }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary mt-2">Process Selected File</button>
        </form>
    </div>
{% endblock %}
