{% extends 'base.html' %}

{% block content %}

    <div class="container col-6">
        <div class="row-cols-1 my-lg-4">

            <h1 class="fw-bold mb-3">Corporate Services NLP modeling</h1>
            <p class="mb-5"></p>
        </div>
    </div>



    <!-- 3-Column Features Section -->
    <div class="container my-4">
        <div class="row">
            <!-- Data Management -->
            <div class="col">
                <img src="{{ url_for('static', filename='img/data_management.png') }}" alt="Data Management"
                     width="250" class="feature-icon">
                <h3></h3>
                <p>Description of Data Management.</p>
                <a href="{{ url_for('main_routes.data_management') }}" class="btn btn-primary">Data Management</a>
            </div>

            <!-- Data Modeling -->
            <div class="col">
                <img src="{{ url_for('static', filename='img/data_modeling.png') }}" alt="Data Modeling" width="250"
                     class="feature-icon">
                <h3></h3>
                <p>Description of Data Modeling.</p>
                <a href="{{ url_for('main_routes.data_modeling') }}" class="btn btn-primary">Data Modeling</a>
            </div>

            <!-- Reporting -->
            <div class="col">
                <img src="{{ url_for('static', filename='img/stats.png') }}" alt="Reporting" width="250"
                     class="feature-icon">
                <h3></h3>
                <p>Description of Reporting. </p>
                <a href="{{ url_for('main_routes.reporting') }}" class="btn btn-primary">Reporting</a>
            </div>
        </div>
    </div>
{% endblock %}
