{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}

    <div class="container py-5">
        <div class="row text-center">
            <!-- Data Management column -->
            <div class="col-md-4">
                <h3>Data Management</h3>
                <img src="{{ url_for('static', filename='img/data_management.png') }}" alt="Data Management Image"
                     width="300">
                <p>A range of functionality has been provided to help manage your data efficiently and easily.</p>
                <a href="{{ url_for('data_management') }}" class="btn btn-primary">Manage Data</a>
            </div>
            <!-- Model Building column -->
            <div class="col-md-4">
                <h3>Model Building</h3>
                <img src="{{ url_for('static', filename='img/data_modeling.png') }}" alt="Data Management Image"
                     width="300">
                <p>A range of functionality has been provided to help model your data using a range of NLP models.</p>
                <a href="{{ url_for('data_modeling') }}" class="btn btn-primary">Model Data</a>
            </div>
            <!-- Statistics column -->
            <div class="col-md-4">
                <h3>Statistics</h3>
                <img src="{{ url_for('static', filename='img/stats.png') }}" alt="Stats Image"
                     width="300">
                <p>Superior statistical capabilities for making graphs from your data files.</p>
                <a href="#" class="btn btn-primary disabled">Coming later</a>
            </div>
        </div>
    </div>



{% endblock %}
