{% extends "base.html" %}

{% block content %}
    <form action="{{ url_for('file_manager.perform_filtering', file_name=file_name) }}" method="post">
        <div class="form-group">
            <label for="filter_column">Select Column to Filter:</label>
            <select name="filter_column" id="filter_column" class="form-control" required>
                {% for col in columns %}
                    <option value="{{ col }}">{{ col }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Proceed to Filter</button>
    </form>
{% endblock %}
