{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Model Manager</h2>

        <!-- Form for selecting and loading models -->
        <form method="post" action="{{ url_for('model_manager.model_manager') }}">
            {{ selection_form.hidden_tag() }}
            <div>
                {{ selection_form.model_type.label }}<br>
                {{ selection_form.model_type(class="form-select") }}
            </div>
            <div id="spacy-model-selection" style="display: none;">
                {{ selection_form.spacy_model.label }}<br>
                {{ selection_form.spacy_model(class="form-select") }}
            </div>

            <div id="custom-model-selection" style="display: none;">
                {{ selection_form.custom_model.label }}<br>
                {{ selection_form.custom_model(class="form-select") }}
            </div>

            {{ selection_form.submit(class="btn btn-outline-primary btn-sm mt-lg-2") }}
        </form>


        <!-- Form for reference file selection -->
        <form method="post" action="{{ url_for('model_manager.model_manager') }}">
            {{ reference_form.hidden_tag() }}
            <fieldset>
                <legend>{{ reference_form.reference_file.label }}</legend>
                {% for choice in reference_form.reference_file %}
                    <div class="form-check">
                        {{ choice }} {{ choice.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </fieldset>
            {{ reference_form.submit(class="btn btn-outline-primary btn-sm mt-lg-2") }}
        </form>


        <!-- Form for saving the model with a custom name -->
        <form method="post" action="{{ url_for('model_manager.save_model') }}">
            {{ save_form.hidden_tag() }}
            <div>
                {{ save_form.custom_model_name.label }}<br>
                {{ save_form.custom_model_name(class="form-control") }}
            </div>

            {{ save_form.save(class="btn btn-outline-secondary btn-sm mt-lg-2") }}
        </form>
    </div>


    {% if table_html %}
        <div class="mt-4">
            <h3>Reference File Contents</h3>
            {{ table_html|safe }}
        </div>

        <!-- Form for updating the model with the selected reference file -->
        <form method="post" action="{{ url_for('model_manager.update_model_with_reference_file') }}">
            <input type="hidden" name="selected_reference_file" value="{{ selected_reference_file }}">
            <input type="submit" value="Update Model with Selected Reference File" class="btn btn-primary mt-2"
                    {% if not model_loaded %} disabled {% endif %}>
        </form>

        <!-- Displaying entity counts -->
        {% if before_count and after_count %}
            <div class="mt-3">
                <p>Entity count before update: {{ before_count }}</p>
                <p>Entity count after update: {{ after_count }}</p>
            </div>
        {% endif %}
    {% endif %}

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let modelTypeSelect = document.getElementById('model_type');
            let spacyModelSelectionDiv = document.getElementById('spacy-model-selection');
            let customModelSelectionDiv = document.getElementById('custom-model-selection');

            function updateModelSelection() {
                spacyModelSelectionDiv.style.display = modelTypeSelect.value === 'spacy_core' ? 'block' : 'none';
                customModelSelectionDiv.style.display = modelTypeSelect.value === 'custom' ? 'block' : 'none';
            }

            modelTypeSelect.addEventListener('change', updateModelSelection);
            updateModelSelection(); // Run on load in case of pre-selected value
        });
    </script>

{% endblock %}
