{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="container">
        <div class="container">
            <h2>Select NLP Modeling Approach</h2>
            <form method="post" id="model-selection-form">
                {{ form.hidden_tag() }}
                {% for subfield in form.model_type %}
                    <div class="form-check">
                        {{ subfield(onchange="submitForm()", class="form-check-input") }}
                        {{ subfield.label(class="form-check-label") }}
                    </div>
                {% endfor %}
            </form>
        </div>

        <h2>Select Data for Modeling</h2>
        <form method="post">
            {{ data_form.hidden_tag() }}

            <span id="columns-url" style="display:none;"
                  data-url="{{ url_for('model_builder.get_columns', filename='') }}"></span>

            <div class="form-group">
                <label for="file-select">Select File</label>
                {{ data_form.file(class="form-select", id='model-builder-file-select') }}
            </div>
            <div class="form-group">
                <label for="column-select">Select Column</label>
                {{ data_form.column(class="form-select", id='model-builder-column-select') }}
            </div>
            <button type="submit" name="data_submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


    {#Put Javascript here#}
    <script>
        function submitForm() {
            document.getElementById('model-selection-form').submit();
        }
    </script>


{% endblock %}


