<!-- model_manager.html -->
{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Model Manager</h2>
        <form method="post" action="{{ url_for('model_manager.model_manager') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.model_type.label }}<br>
                {{ form.model_type(class="form-select") }}
            </div>
            <div id="spacy-model-selection" style="display: none;">
                {{ form.spacy_model.label }}<br>
                {{ form.spacy_model(class="form-select") }}
            </div>
            {{ form.submit(class="btn btn-outline-primary btn-sm mt-lg-2") }}
        </form>

        <!-- Add a button to save the model -->
        <form method="post" action="{{ url_for('model_manager.save_model') }}">
            <button type="submit" class="btn btn-outline-secondary btn-sm mt-lg-2">Save Loaded Model</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modelTypeSelect = document.getElementById('model_type');
            var spacyModelSelectionDiv = document.getElementById('spacy-model-selection');

            function updateSpacyModelSelection() {
                if (modelTypeSelect.value === 'spacy_core') {
                    spacyModelSelectionDiv.style.display = 'block';
                } else {
                    spacyModelSelectionDiv.style.display = 'none';
                }
            }

            modelTypeSelect.addEventListener('change', updateSpacyModelSelection);
            updateSpacyModelSelection(); // Run on load in case of pre-selected value
        });
    </script>
{% endblock %}
