{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h2>Model Manager</h2>

        <!-- Form for selecting and loading models -->
        <form method="post" action="{{ url_for('model_manager.model_manager') }}">
            {{ selection_form.hidden_tag() }}
            <div>
                {{ selection_form.model_type.label }}<br>
                {{ selection_form.model_type(class="form-select") }}
            </div>
            <div id="spacy-model-selection" style="display: none;">
                {{ selection_form.spacy_model.label }}<br>
                {{ selection_form.spacy_model(class="form-select") }}
            </div>

            <div id="custom-model-selection" style="display: none;">
                {{ selection_form.custom_model.label }}<br>
                {{ selection_form.custom_model(class="form-select") }}
            </div>

            <div id="huggingface-model-selection" style="display: none;">
                {{ selection_form.huggingface_model.label }}<br>
                {{ selection_form.huggingface_model(class="form-control") }}
            </div>

            {{ selection_form.submit(class="btn btn-outline-primary btn-sm mt-lg-2") }}
        </form>

        <!-- Form for saving the model with a custom name -->
        <form method="post" action="{{ url_for('model_manager.save_model') }}">
            {{ save_form.hidden_tag() }}
            <div>
                {{ save_form.custom_model_name.label }}<br>
                {{ save_form.custom_model_name(class="form-control") }}
            </div>

            {{ save_form.save(class="btn btn-outline-secondary btn-sm mt-lg-2") }}
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var modelTypeSelect = document.getElementById('model_type');
            var spacyModelSelectionDiv = document.getElementById('spacy-model-selection');
            var customModelSelectionDiv = document.getElementById('custom-model-selection');
            var huggingfaceModelSelectionDiv = document.getElementById('huggingface-model-selection');

            function updateModelSelection() {
                spacyModelSelectionDiv.style.display = modelTypeSelect.value === 'spacy_core' ? 'block' : 'none';
                customModelSelectionDiv.style.display = modelTypeSelect.value === 'custom' ? 'block' : 'none';
                huggingfaceModelSelectionDiv.style.display = modelTypeSelect.value === 'huggingface' ? 'block' : 'none';
            }

            modelTypeSelect.addEventListener('change', updateModelSelection);
            updateModelSelection(); // Run on load in case of pre-selected value
        });
    </script>

{% endblock %}
