{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>Select Columns</h1>
        <form action="{{ url_for('view_file_contents') }}" method="post">
            {% for col in columns %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="columns" value="{{ col }}">
                    <label class="form-check-label">{{ col }}</label>
                </div>
            {% endfor %}
            <input type="hidden" name="selected_file" value="{{ selected_file }}">
            <button type="submit" class="btn btn-primary mt-2">View File Contents</button>
        </form>
    </div>
{% endblock %}
