{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>Select Worksheet</h1>
        <form action="{{ url_for('view_worksheet') }}" method="post">
            <input type="hidden" name="selected_file" value="{{ selected_file }}">
            <div class="mb-3">
                <label for="worksheetSelect" class="form-label">Worksheet</label>
                <select class="form-select" id="worksheetSelect" name="selected_worksheet">
                    {% for sheet in sheets %}
                        <option value="{{ sheet }}">{{ sheet }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Select Worksheet</button>
        </form>
    </div>
{% endblock %}
