{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <h1 class="mb-lg-5">Topic modeller parameter settings and results</h1>
            <div class="col-md-4">
                <h3>Topic Modeling Configuration</h3>
                <h4 class="mt-lg-4">Filter extreme values</h4>
                <form method="post">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.no_below(class="form-control", placeholder="Number below") }}
                        Number below:
                    </div>
                    <div class="form-group">
                        {{ form.no_above.label }} {{ form.no_above(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ form.keep_n.label }} {{ form.keep_n(class="form-control") }}
                    </div>


                    <div class="form-group form-switch mb-lg-3">
                        {{ form.tfidf_transform(class="form-check-input") }}
                        {{ form.tfidf_transform.label }}
                    </div>
                    <div class="form-group mb-lg-3">
                        {{ form.num_topics(class="form-control", placeholder=form.num_topics.label.text) }}
                    </div>
                    <div class="form-group mb-lg-3">
                        {{ form.random_state(class="form-control", placeholder=form.random_state.label.text) }}
                    </div>
                    <div class="form-group mb-lg-3">
                        {{ form.chunksize(class="form-control", placeholder=form.chunksize.label.text) }}
                    </div>
                    <div class="form-group mb-lg-3">
                        {{ form.passes(class="form-control", placeholder=form.passes.label.text) }}
                    </div>
                    <div class="form-group form-switch mb-lg-3 ">
                        {{ form.per_word_topics(class="form-check-input") }}
                        {{ form.per_word_topics.label }}
                    </div>
                    <div class="form-group mb-lg-3">
                        {{ form.visualization_name(class="form-control", placeholder="Enter a name for the pyLDAviz output") }}
                    </div>
                    <button type="submit" class="btn btn-outline-primary btn-sm">Run Model</button>

                </form>
            </div>


            <div class="col-md-8">
                <h3 class="mb-lg-4">Some basic concepts</h3>

                <div class="mt-lg-5">

                    <h5>Filter extreme values</h5>
                    <ul>
                        <li>Number below (no_below) means Keep tokens which are contained in at least no_below
                            documents.
                        </li>
                        <li>Number above (no_above) means Keep the <strong>proportion</strong> of tokens contained in no
                            more than no_above% documents.
                        </li>
                    </ul>
                <h5>Other instructions</h5>
                    <ul>
                        <li>Token − A token means a ‘word’.</li>
                        <li>Document − A document refers to a sentence or paragraph.</li>
                        <li>Corpus − It refers to a collection of documents as a bag of words (BoW).</li>
                        <li>For all the documents, a corpus always contains each word’s token’s id along with its
                            frequency
                            count in the document.
                        </li>


                    </ul>

                    {% if session.last_visualization_name %}
                        <a href="{{ url_for('model_builder.model_view', visualization_name=session.last_visualization_name) }}"
                           class="btn btn-secondary">
                            View Model Visualization
                        </a>
                    {% endif %}


                </div>


            </div>

            <div class="container">
                <h3 class="mb-lg-4">Model Output (on completion).</h3>
                {% if lda_topics_html %}
                    <div>
                        {{ lda_topics_html|safe }}
                    </div>
                {% endif %}

            </div>


        </div>
    </div>
{% endblock %}
