{% extends 'base.html' %}
{% block content %}
    <div class="container">
    <div class="row">
    <h1 class="mb-lg-5">Topic modeller parameter settings and results</h1>
        <div class="col-md-4">
            <h3>Topic Modeling Configuration</h3>
            <form method="post">
                {{ form.hidden_tag() }}
                <div class="form-group">
                    {{ form.no_below.label }} {{ form.no_below(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.no_above.label }} {{ form.no_above(class="form-control") }}
                </div>
                <div class="form-group">
                    {{ form.keep_n.label }} {{ form.keep_n(class="form-control") }}
                </div>


                <div class="form-group form-switch mb-lg-3">
                    {{ form.tfidf_transform(class="form-check-input") }}
                    {{ form.tfidf_transform.label }}
                </div>
                <div class="form-group mb-lg-3">
                    {{ form.num_topics(class="form-control", placeholder=form.num_topics.label.text) }}
                </div>
                <div class="form-group mb-lg-3">
                    {{ form.random_state(class="form-control", placeholder=form.random_state.label.text) }}
                </div>
                <div class="form-group mb-lg-3">
                    {{ form.chunksize(class="form-control", placeholder=form.chunksize.label.text) }}
                </div>
                <div class="form-group mb-lg-3">
                    {{ form.passes(class="form-control", placeholder=form.passes.label.text) }}
                </div>
                <div class="form-group form-switch mb-lg-3 ">
                    {{ form.per_word_topics(class="form-check-input") }}
                    {{ form.per_word_topics.label }}
                </div>
                <div class="form-group mb-lg-3">
                    {{ form.visualization_name(class="form-control", placeholder="Enter a name for the pyLDAviz output") }}
                </div>
                <button type="submit" class="btn btn-outline-primary btn-sm">Run Model</button>
            </form>
        </div>


        <div class="col-md-8">
            <h3 class="mb-lg-5">Model Output (on completion).</h3>
            {% if lda_topics_html %}
                <div>

                    {{ lda_topics_html|safe }}
                </div>
            {% endif %}

        </div>

    </div>

{% endblock %}
