{% extends 'base.html' %}
{% block title %}View Spreadsheet Details{% endblock %}
{% block content %}
    <h3>File details</h3>
    <p><strong>Spreadsheet name:</strong> {{ metadata.file_name }}</p>
    <p><strong>Worksheet name:</strong> {{ metadata.worksheet_name }}</p>
    <p><strong>Total Rows:</strong> {{ metadata.total_rows }}</p>

    <form action="{{ url_for('file_manager.export_selected_columns') }}" method="post">
    <div class="table-responsive">
        <table class="table table-sm table-hover">
            <thead>
            <tr>
                <th>Select</th>
                <th>Column Name</th>
                <th width="160">New Name</th>
                <th>First Item</th>
                <th>Missing</th>
            </tr>
            </thead>
            <tbody>
            {% for col, details in summary.items() %}
                <tr>
                    <td><input class="form-check-input" type="checkbox" name="selected_columns" value="{{ col }}">
                    </td>
                    <td>{{ details.column_name }}</td>
                    <td><input class="form-control form-control-sm" type="text" name="new_name_{{ col }}" placeholder="New name"></td>
                    <td>{{ details.first_item }}</td>
                    <td>{{ details.missing_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Hidden inputs for file path and sheet name -->
    <input type="hidden" name="file_path" value="{{ file_path }}">
    <input type="hidden" name="sheet_name" value="{{ sheet_name }}">


    <!-- Checkbox for dropping empty rows -->
    <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" id="dropEmptyRows" name="drop_empty">
        <label class="form-check-label" for="dropEmptyRows">Drop missing rows. [Use with caution, drops rows with any missing!]</label>
    </div>
    <!-- Input for custom file name -->

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <!-- First element (e.g., a button) -->
{#                <label for="customFileName" class="form-label">Custom File Name (without extension)</label>#}
                <input type="text" class="form-control form-control-sm" id="customFileName" name="custom_file_name">

            </div>
            <div class="col-md-2">
                <button type="submit" id="button1" class="btn btn-outline-primary btn-sm">Save .csv file</button>
            </div>
        </div>
    </div>


    </div>
{% endblock %}
