{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>Worksheet: {{ worksheet_name }}</h1>
        <p>Total number of rows: <strong>{{ total_values }}</strong></p>
        <form action="{{ url_for('process_selected_columns') }}" method="post">
            <input type="hidden" name="selected_file" value="{{ selected_file }}">
            <input type="hidden" name="selected_worksheet" value="{{ worksheet_name }}">

            <table class="table">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Column Name</th>
                    <th>First Item</th>
                    <th>Missing rows</th>
                </tr>
                </thead>
                <tbody>
                {% for column in column_info %}
                    <tr>
                        <td>
                            <input type="checkbox" name="columns" value="{{ column.name }}">
                        </td>
                        <td>{{ column.name }}</td>
                        <td>{{ column.first_item }}</td>
                        <td>{{ column.missing }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="mb-3">
                <label for="csvFileName" class="form-label">CSV File Name (without extension)</label>
                <input type="text" class="form-control" id="csvFileName" name="csv_file_name"
                       placeholder="Enter file name">
            </div>

            <button type="submit" class="btn btn-primary">Save as CSV</button>
        </form>
    </div>
{% endblock %}
