{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>File Contents</h1>
        <p><strong>File Name:</strong> {{ file_name }}</p>
        <p>This is a random sample of 5 rows from a total of <strong>{{ total_rows }}</strong> in the dataset.</p>

        <table class="table">
            <thead>
            <tr>
                {% for col in data.columns %}
                    <th>{{ col }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for index, row in data.iterrows() %}
                <tr>
                    {% for item in row %}
                        <td>{{ item }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
