{% extends 'base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1>Select Columns</h1>
        <form action="{{ url_for('process_selected_columns') }}" method="post">
            <input type="hidden" name="selected_file" value="{{ selected_file }}">

            <table class="table">
                <thead>
                <tr>
                    <th>Select</th>
                    <th>Column Name</th>
                    <th>First Item</th>
                    <th>Missing Values:Total Values</th>
                </tr>
                </thead>
                <tbody>
                {% for column in column_info %}
                    <tr>
                        <td>
                            <input type="checkbox" name="columns" value="{{ column.name }}">
                        </td>
                        <td>{{ column.name }}</td>
                        <td>{{ column.first_item }}</td>
                        <td>{{ column.missing_ratio }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Process Selected Columns</button>
        </form>
    </div>
{% endblock %}
