<!-- worksheet_display.html -->

{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <!-- Display worksheet metadata and columns here -->
        {% if column_info %}
            <div class="mt-4">
                <h3>Worksheet Info</h3>
                <p>Spreadsheet: {{ selected_file }}</p>
                <p>Worksheet: {{ selected_sheet }}</p>
                <p>Total Rows: {{ total_rows }}</p>

                <form action="{{ url_for('file_handling.save_csv') }}" method="post">
                    <input type="hidden" name="selected_file" value="{{ selected_file }}">
                    <input type="hidden" name="selected_sheet" value="{{ selected_sheet }}">
                    <table class="table">
                        <tr>
                            <th>Select</th>
                            <th>Column Name</th>
                            <th>First Item</th>
                            <th>Missing Rows</th>
                        </tr>
                        {% for col, first_item, missing in column_info %}
                            <tr>
                                <td><input type="checkbox" name="selected_columns" value="{{ col }}"></td>
                                <td>{{ col }}</td>
                                <td>{{ first_item }}</td>
                                <td>{{ missing }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                    <p>Save selected columns as CSV file. The csv file will be saved to <code>data/data_saved.</code></p>
                    <p>A file extension is not required.</p>
                    <input type="text" name="csv_name" placeholder="Enter CSV file name">
                    <button type="submit" class="btn btn-primary">Save as CSV</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
